html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-feature-settings: "liga" 1, "calt" 0;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  letter-spacing: 0em;
  line-height: 1.55rem;
}
