@import "~nprogress/nprogress.css";

$nprogress-primary: $material-color-cyan-a700;

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $nprogress-primary;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px $nprogress-primary, 0 0 5px $nprogress-primary;
  opacity: 1.0;

  transform: rotate(3deg) translate(0px, -4px);
}
